<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost" />
    <section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core" />
  </configSections>

  <Installer>
    <ShortName>V1BAF</ShortName>
    <LongName>VersionOne BuyAFeature Integration</LongName>
  </Installer>

  <Services>
    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Debug</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

    <!-- Timer that flushes Profile periodically -->
    <ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
      <Interval>15000</Interval>
      <PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
    </ProfileFlushTimer>

    <BuyAFeatureService class="VersionOne.ServiceHost.BuyAFeatureServices.BafHostedService, VersionOne.ServiceHost.BuyAFeatureServices">
      <Settings>
        <ApplicationUrl>http://localhost/VersionOne/</ApplicationUrl>
        <Username>admin</Username>
        <Password>admin</Password>
        <APIVersion>6.5.0.0</APIVersion>
        <IntegratedAuth>false</IntegratedAuth>
        <ProxySettings disabled="1">
          <Uri>http://proxyhost:3128</Uri>
          <UserName>username</UserName>
          <Password>password</Password>
          <Domain>domain</Domain>
        </ProxySettings>
      </Settings>

      <BafServerUrl>https://preview.innovationgames.com</BafServerUrl>
      <!--DO NOT CHANGE API ID AND SIGNING KEY EXCEPT WHEN IT IS REALLY NECESSARY-->
      <BafApiId>UVBNXY5TLBCO0EK4J3J4BAFVAUPOTVDBJOSB4R553L4TLSCE</BafApiId>
      <BafSigningKey>9e9e9270f7a8750ec14f8c077f0e1968d9c2757ccb16453b</BafSigningKey>
      
      <!-- Project settings -->
      <V1ProjectToken>Scope:0</V1ProjectToken>
      <!-- Include workitems from child VersionOne projects within the one defined by V1ProjectToken. Valid values are true or false. -->
      <IncludeChildProjects>true</IncludeChildProjects>

      <!-- Custom VersionOne list field assigned to Feature Group that contains BaF status-->
      <FeatureGroupCustomStatusFieldName>Custom_BaFstatus2</FeatureGroupCustomStatusFieldName>
      <!-- Custom VersionOne list field assigned to Story that contains BaF status-->
      <BacklogCustomStatusFieldName>Custom_BaFstatus4</BacklogCustomStatusFieldName>

      <!-- Available FeatureGroup status values assigned to VersionOne custom type. You can lookup tokens in VersionOne UI. -->
      <V1FGStatusPortToBaf>Custom_BaF_Status:1047</V1FGStatusPortToBaf>
      <V1FGStatusPortedToBaf>Custom_BaF_Status:1048</V1FGStatusPortedToBaf>
      <V1FGStatusCompleted>Custom_BaF_Status:1049</V1FGStatusCompleted>

      <!-- Available Story status values assigned to VersionOne custom type. You can lookup tokens in VersionOne UI. -->
      <V1BacklogStatusPortToBaf>Custom_Story_BaF_Status:1269</V1BacklogStatusPortToBaf>
      <V1BacklogStatusPortedToBaf>Custom_Story_BaF_Status:1270</V1BacklogStatusPortedToBaf>
      <V1BacklogStatusPurchased>Custom_Story_BaF_Status:1271</V1BacklogStatusPurchased>
      <V1BacklogStatusNotPurchased>Custom_Story_BaF_Status:1272</V1BacklogStatusNotPurchased>

      <!-- FeatureGroup field name to provide amount of game runs -->
      <FeatureGroupGameRunsCounterFieldName>Custom_GameRuns</FeatureGroupGameRunsCounterFieldName>
      <!-- Backlog field name to provide amount of game runs where backlog participated -->
      <BacklogGameRunsCounterFieldName>Custom_GameRuns2</BacklogGameRunsCounterFieldName>      

      <!-- Backlog field name to provide amount of item purchasing -->
      <BacklogItemPurchasedCounterFieldName>Custom_PurchasedTimes</BacklogItemPurchasedCounterFieldName>      

      <!-- VersionOne T-Shirt custom field name assigned to Story. -->
      <V1TShirtSizeFieldName>Custom_TShirtSize</V1TShirtSizeFieldName>

      <!-- Shirt Size mappings. The service won't start unless data in mappings is valid. -->
      <ShirtSizeMappings>
        <Mapping VersionOneSizeName ="Small" BafSizeName="Small" />
        <Mapping VersionOneSizeName ="Medium" BafSizeName="Medium" />
        <Mapping VersionOneSizeName ="Large" BafSizeName="Large" />
      </ShirtSizeMappings>
    </BuyAFeatureService>

    <BafServiceTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
      <Interval>30000</Interval>
      <PublishClass>VersionOne.ServiceHost.BuyAFeatureServices.BafHostedService+IntervalSync, VersionOne.ServiceHost.BuyAFeatureServices</PublishClass>
    </BafServiceTimer>
  </Services>
</configuration>