<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost" />
    <section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core" />
  </configSections>

  <Installer>
    <ShortName>V1ClearQuest</ShortName>
    <LongName>VersionOne ClearQuest Integration</LongName>
  </Installer>

  <Services>

    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Info</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

    <!-- Timer that flushes Profile periodically -->
    <ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
      <Interval>15000</Interval>
      <PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
    </ProfileFlushTimer>

    <!-- Configuration for ClearQuest Service -->
    <ClearQuestService disabled="0" class="VersionOne.ServiceHost.ClearQuestServices.ClearQuestHostedService, VersionOne.ServiceHost.ClearQuestServices" >
		
			<!-- Name of ClearQuest Connection -->
			<ClearQuestConnectionName>ClearQuestConnectionName</ClearQuestConnectionName>

			<!-- Valid ClearQuest Username -->
			<ClearQuestUsername>admin</ClearQuestUsername>

			<!-- Password for ClearQuest user -->
			<ClearQuestPassword>password</ClearQuestPassword>

			<!-- Database Name in the ClearQuest instance-->
			<ClearQuestDatabase>SAMPL</ClearQuestDatabase>

			<!-- VersionOne 'Source' value to use when creating Defect -->
			<SourceFieldValue>ClearQuest</SourceFieldValue> 

			<!-- Links in VersionOne to ClearQuest defect (we replace #key# with ClearQuest defect id) -->
			<!-- http://domain:port/cqweb/#/<SchemaName>/<DataBase>/RECORD/#defectid#&format=HTML&noframes=true&recordType=Defect -->
			<!-- 
				 SchemaName - Schema name in the ClearQuest 
				 DataBase   - Database name in the ClearQuest 
			-->
			<ClearQuestWebUrlTemplate><![CDATA[URL]]></ClearQuestWebUrlTemplate>
			<ClearQuestWebUrlTitle>ClearQuest</ClearQuestWebUrlTitle>

			<!--Mandatory field which need to be filled during change state of defect to close-->
			<ClearQuestMandatoryFields>
				<!--<Field name="<field name>"><Value></Field>-->
				<Field name="Resolution">Fixed</Field>
			</ClearQuestMandatoryFields>

			<!-- ClearQuest State that indicates which Defects are ready for delivery to VersionOne -->
			<ClearQuestWaitedSubmitToV1State>SubmitToVersionOne</ClearQuestWaitedSubmitToV1State>

			<!-- ClearQuest State that indicates which Defects are in the VersionOne system -->
			<ClearQuestSubmittedToV1State>AssignedToVersionOne</ClearQuestSubmittedToV1State>

			<!-- ClearQuest Action to perform once a Defect is successfully created in VersionOne -->
			<ClearQuestSubmittedToV1Action>VersionOneAccepted</ClearQuestSubmittedToV1Action>

			<!-- ClearQuest Action to perform when a Defect is closed in VersionOne -->
			<ClearQuestCloseAction>Close</ClearQuestCloseAction>

		<!-- The following configuration parameters describe the ClearQuest entity used by this integration -->
		<!-- The name of the Defect entity in your ClearQuest instance -->
		<ClearQuestEntityType>defect</ClearQuestEntityType>
		<!-- The name of the ClearQuest Field used to uniquely identify the entity-->
		<ClearQuestIDField>id</ClearQuestIDField>
		<!-- The name of the ClearQuest Field containing the entity title -->
		<ClearQuestDefectTitleField>Headline</ClearQuestDefectTitleField>
		<!-- The name of the ClearQuest Field containing the entity description -->
		<ClearQuestDescriptionField>Description</ClearQuestDescriptionField>
		<!-- The name of the ClearQuest Field containing the Project Name for this entity -->
		<ClearQuestProjectNameField>Project.Name</ClearQuestProjectNameField>
		<!-- The name of the ClearQuest Field containing the entity owner -->
		<ClearQuestOwnerLoginField>Owner.login_name</ClearQuestOwnerLoginField>
		<!-- The name of the ClearQuest Field containing the entity state -->
		<ClearQuestStateField>State</ClearQuestStateField>
		<!-- The name of the ClearQuest Action used to modify the entity -->
		<ClearQuestModifyAction>modify</ClearQuestModifyAction>
		<!-- The name of the ClearQuest Field containing the priority state -->
		<ClearQuestPriorityField>Priority</ClearQuestPriorityField>

		<!-- Mapping for projects from ClearQuest to VersionOne -->
		<ProjectMappings>
			<Mapping>
				<ClearQuestProject>ClearQuestProjectName 1</ClearQuestProject>
				<VersionOneProject id="Scope:0"></VersionOneProject>
			</Mapping>
			<Mapping>
				<ClearQuestProject>ClearQuestProjectName 2</ClearQuestProject>
				<VersionOneProject id="Scope:2"></VersionOneProject>
			</Mapping>
		</ProjectMappings>			
			
		<!-- 
				Issue priority mappings. 
				If a mapping of ClearQuest to VersionOne priority is omitted here, created VersionOne defects do not have any priority set. 
		-->
		<PriorityMappings>
			<Mapping>
				<ClearQuestPriority>1-Resolve Immediately</ClearQuestPriority>
				<VersionOnePriority id="WorkitemPriority:100">High</VersionOnePriority>
			</Mapping>
			<Mapping>
				<ClearQuestPriority>3-Normal Queue</ClearQuestPriority>
				<VersionOnePriority id="WorkitemPriority:120">Medium</VersionOnePriority>
			</Mapping>
			<Mapping>
				<ClearQuestPriority>4-Low Priority</ClearQuestPriority>
				<VersionOnePriority id="WorkitemPriority:140">Low</VersionOnePriority>
			</Mapping>
		</PriorityMappings>

	</ClearQuestService>

    <!-- ClearQuest Poll Timer -->
    <ClearQuestServiceTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
      <Interval>300000</Interval>
      <PublishClass>VersionOne.ServiceHost.ClearQuestServices.ClearQuestHostedService+IntervalSync, VersionOne.ServiceHost.ClearQuestServices</PublishClass>
    </ClearQuestServiceTimer>

    <!-- Write Defects to VersionOne, and retrieves ClearQuest-sourced Defects that have recently closed -->
    <WorkitemWriterService disabled="0" class="VersionOne.ServiceHost.WorkitemServices.WorkitemWriterHostedService, VersionOne.ServiceHost.WorkitemServices">
      <!-- VersionOne field used to hold the ClearQuest Issue identifier.  This can be any text field, including custom fields. -->
      <ExternalIdFieldName>Reference</ExternalIdFieldName>
      <Settings>
        <ApplicationUrl>http://localhost/VersionOne/</ApplicationUrl>
        <Username>admin</Username>
        <Password>admin</Password>
        <APIVersion>7.2.0.0</APIVersion>
        <IntegratedAuth>false</IntegratedAuth>
        <ProxySettings disabled="1">
          <Uri>http://proxyhost:3128</Uri>
          <UserName>username</UserName>
          <Password>password</Password>
          <Domain>domain</Domain>
        </ProxySettings>
      </Settings>
    </WorkitemWriterService>

  </Services>

</configuration>