<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost" />
    <section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core" />
  </configSections>

  <Installer>
    <ShortName>V1LKK</ShortName>
    <LongName>VersionOne LeanKitKanban Integration</LongName>
  </Installer>

  <Services>
    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Debug</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

    <!-- Timer that flushes Profile periodically -->
    <ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
      <Interval>15000</Interval>
      <PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
    </ProfileFlushTimer>

    <LeanKitKanbanService class="VersionOne.ServiceHost.LeanKitKanbanServices.LkkHostedService, VersionOne.ServiceHost.LeanKitKanbanServices">
      <Settings>
        <ApplicationUrl>http://localhost/VersionOne/</ApplicationUrl>
        <Username>admin</Username>
        <Password>admin</Password>
        <APIVersion>6.5.0.0</APIVersion>
        <IntegratedAuth>false</IntegratedAuth>
        <ProxySettings disabled="1">
          <Uri>http://proxyhost:3128</Uri>
          <UserName>username</UserName>
          <Password>password</Password>
          <Domain>domain</Domain>
        </ProxySettings>
      </Settings>

      <Account>myAccount</Account>
      <Username>myUsername@mydomain.com</Username>
      <Password>myPassword</Password>
      <OverrideWIPLimit>true</OverrideWIPLimit>
      <OverrideWIPLimitComment>Please provide reason for override lane limit</OverrideWIPLimitComment>
      
      <!-- Statuses that VersionOne workitems are updated with, depending on mapped LK card location. If values do not exist in VersionOne, they will be created. -->
      <V1LeanKitBacklogStatus>LeanKit - Backlog</V1LeanKitBacklogStatus>
      <V1LeanKitActiveStatus>LeanKit - Active</V1LeanKitActiveStatus>
      <V1LeanKitArchivedStatus>LeanKit - Archived</V1LeanKitArchivedStatus>

      <ProjectMappings>
        <Mapping>
          <LkkBoard id="12345678">LeanKitKanbanBoard 1</LkkBoard>
          <VersionOneProject id="Scope:0"></VersionOneProject>
        </Mapping>
        <Mapping>
          <LkkBoard id="87654321">LeanKitKanbanBoard 2</LkkBoard>
          <VersionOneProject id="Scope:2"></VersionOneProject>
        </Mapping>
      </ProjectMappings>

      <PriorityMappings>
        <Mapping>
          <LkkPriority id="0">Low</LkkPriority>
          <VersionOnePriority id="WorkitemPriority:138">Low</VersionOnePriority>
        </Mapping>
        <Mapping>
          <LkkPriority id="1">Normal</LkkPriority>
          <VersionOnePriority id="WorkitemPriority:139">Medium</VersionOnePriority>
        </Mapping>
        <Mapping>
          <LkkPriority id="2">High</LkkPriority>
          <VersionOnePriority id="WorkitemPriority:140">High</VersionOnePriority>
        </Mapping>
      </PriorityMappings>
      
      <TypeMappings>
        <Mapping>
          <LkkType>VersionOne Defect</LkkType>
          <VersionOneType>Defect</VersionOneType>
        </Mapping>
        <Mapping>
          <LkkType>VersionOne Story</LkkType>
          <VersionOneType>Story</VersionOneType>
        </Mapping>
      </TypeMappings>
    </LeanKitKanbanService>

    <LkkServiceTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
      <Interval>30000</Interval>
      <PublishClass>VersionOne.ServiceHost.LeanKitKanbanServices.LkkHostedService+IntervalSync, VersionOne.ServiceHost.LeanKitKanbanServices</PublishClass>
    </LkkServiceTimer>
  </Services>
</configuration>