<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost" />
		<section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core" />
	</configSections>

	<Installer>
		<ShortName>V1QualityCenter</ShortName>
		<LongName>VersionOne Quality Center Integration Service</LongName>
	</Installer>

	<Services>

    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Info</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

		<!-- Timer that flushes Profile periodically -->
		<ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
			<Interval>10000</Interval>
			<PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
		</ProfileFlushTimer>

		<!-- 
			 Declaration for Quality Center Service.  
		-->
		<QualityCenterService class="VersionOne.ServiceHost.QualityCenterServices.QualityCenterHostedService, VersionOne.ServiceHost.QualityCenterServices">
			<!-- Connection Information -->
			<Connection>
				<ApplicationUrl>http://192.168.36.52/qcbin/</ApplicationUrl>
				<Username>alex_qc</Username>
				<Password></Password>
			</Connection>

			<!-- Quality Center Projects Supported By This Instance -->
			<QCProjects>
				<!-- Each Project has an ID that must match an entry in the VersionOne Project Map (See TestPublishProjectMap below) -->
				<Project id="CallCenter">
					<!-- QC Domain for this project -->
					<Domain>Default</Domain>
					<!-- QC Project for this project -->
					<Project>CallCenter</Project>
					<!-- Name of folder for test creation, if it does not exist it will be created -->
					<TestFolder>VersionOne</TestFolder>
					<!-- In QC Test Plan, this is the Status Field on the Test -->
					<TestStatus>Imported</TestStatus>
					<!-- QC Field used for holding the VersionOne Display ID (The ID you see in the Grid) -->
					<VersionOneIdField>TS_USER_01</VersionOneIdField>
					<!-- The name of the VersionOne project that maps to this QC Project -->
					<VersionOneProject>CallCenter</VersionOneProject>
				</Project>
			</QCProjects>

      <PriorityMappings>
        <Mapping>
          <VersionOnePriority id="WorkitemPriority:138"/>
          <QualityCenterPriority>1-Low</QualityCenterPriority>
        </Mapping>
        <Mapping>
          <VersionOnePriority id="WorkitemPriority:139"/>
          <QualityCenterPriority>4-Very High</QualityCenterPriority>
        </Mapping>
      </PriorityMappings>

			<!-- Quality Center Search Criteria to find Defects to move into VersionOne -->
			<DefectFilters>
				<!-- User the Defect is Assigned To-->
				<DefectFilter>
					<FieldName>BG_RESPONSIBLE</FieldName>
					<FieldValue>VersionOne</FieldValue>
				</DefectFilter>

				<!-- Status of the Defect -->
				<DefectFilter>
					<FieldName>BG_STATUS</FieldName>
					<FieldValue>New OR Reopen</FieldValue>
				</DefectFilter>
			</DefectFilters>

			<!-- Quality Center change after a Defect is created in VersionOne -->
			<CreateStatusValue>Open</CreateStatusValue>

			<!-- Quality Center change after a VersionOne Defect is closed -->
			<CloseStatusValue>Fixed</CloseStatusValue>

			<!-- VersionOne 'Source' value to use when Defect was created from Quality Center artifact -->
			<SourceFieldValue>QualityCenter</SourceFieldValue>
		</QualityCenterService>

		<!-- 
			 Declaration for VersionOne testing services.  
		-->
		<V1TestService class="VersionOne.ServiceHost.TestServices.TestService, VersionOne.ServiceHost.TestServices">
			<!-- VersionOne connection settings -->
			<Settings>
				<ApplicationUrl>http://localhost/VersionOne/</ApplicationUrl>
				<Username>admin</Username>
				<Password>admin</Password>
				<APIVersion>6.5.0.0</APIVersion>
				<IntegratedAuth>false</IntegratedAuth>
				<ProxySettings disabled="1">
					<Uri>http://proxyhost:3128</Uri>
					<UserName>username</UserName>
					<Password>password</Password>
					<Domain>domain</Domain>
				</ProxySettings>
			</Settings>

			<!-- OIDs for passed and failed status.  -->
			<PassedOid>TestStatus:129</PassedOid>
			<FailedOid>TestStatus:155</FailedOid>

			<!-- Comments used when making changes -->
			<ChangeComment>Updated by VersionOne.ServiceHost</ChangeComment>

			<!-- Embedded Rich Text (HTML) is valid in this suffix -->
			<DescriptionSuffix>Check the external test system for more details.</DescriptionSuffix>

			<!-- Valid values are All, CurrentIteration, None -->
			<CreateDefect>All</CreateDefect>

			<!-- Field to set with test reference data -->
			<TestReferenceAttribute>Reference</TestReferenceAttribute>

			<!-- Base filter used when selecting tests to push to partner system -->
			<!-- This filter must include the attribute defined in TestReferenceAttribute -->
			<BaseQueryFilter>Reference='';Owners.Nickname='qc';Status.Name=''</BaseQueryFilter>

			<!-- VersionOne projects that should be considered when publishing Test information -->
			<TestPublishProjectMap>
				<!-- Each Map entry specifies a V1 project to query and the name of that project in the partner system
				     Name            - Name of V1 project
				     IncludeChildren - Should Child projects be considered
				     The Inner Text for each Map element defines the destination project name. The destination listener must know how to interpert this value
				-->
				<V1Project Name="Call Center" IncludeChildren="Y">CallCenter</V1Project>
			</TestPublishProjectMap>

		</V1TestService>

		<WorkitemWriterService disabled="0" class="VersionOne.ServiceHost.WorkitemServices.WorkitemWriterHostedService, VersionOne.ServiceHost.WorkitemServices">
			<!-- Field to set with test reference data -->
			<ExternalIdFieldName>Reference</ExternalIdFieldName>
			<!-- VersionOne connection settings -->
			<Settings>
				<ApplicationUrl>http://localhost/VersionOne/</ApplicationUrl>
				<Username>admin</Username>
				<Password>admin</Password>
				<APIVersion>7.2.0.0</APIVersion>
				<IntegratedAuth>false</IntegratedAuth>
				<ProxySettings disabled="1">
					<Uri>http://proxyhost:3128</Uri>
					<UserName>username</UserName>
					<Password>password</Password>
					<Domain>domain</Domain>
				</ProxySettings>
			</Settings>
		</WorkitemWriterService>

		<!-- Controls the timer used to read tests from VersionOne.  -->
		<V1TestReadTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
			<Interval>300000</Interval>
			<PublishClass>VersionOne.ServiceHost.TestServices.TestReaderService+IntervalSync, VersionOne.ServiceHost.TestServices</PublishClass>
		</V1TestReadTimer>

		<!-- Controls the timer used to read tests from Quality Center.  -->
		<QCTestReadTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
			<Interval>300000</Interval>
			<PublishClass>VersionOne.ServiceHost.QualityCenterServices.QualityCenterReaderService+IntervalSync, VersionOne.ServiceHost.QualityCenterServices</PublishClass>
		</QCTestReadTimer>

	</Services>

</configuration>